.App {
  font-family: 'Arial', sans-serif;
  color: white;
}

.App-header {
  background-color: black;
  padding: 1em;
  color: #1CA883;
}

.App-header h1,
nav a {
  color: #1CA883;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 0em;
}

section {
  margin-bottom: 0em;
}

.welcome, .latest-news, .ongoing-research, .contribution {
  background-color: #002266;
  padding: 1em;
}

button {
  background-color: #009900;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #007700;
}

footer {
  background-color: #000000;
  color: #1CA883;
  padding: 1em;
  text-align: center;
}

.contribution-stats div {
  background-color: #006600;
  color:#131B56; 
  text-align: center;
  margin-top: 1em;
  padding: 0.5em;
}
.contribution-stats-blue div {
  background-color: #131B56; 
  color: #1CA883;
  text-align: center;
  margin-top: 1em;
  padding: 0.5em;
}
.contribution-stats-green div {
  background-color: #1CA883; 
  margin-top: 1em;
  padding: 0.5em;
}
.research-list {
  background-color: #f0f0f0;
  padding: 20px;
}

.research-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 15px;
  margin-bottom: 10px;
}

.research-item h2 {
  color: #333333;
}

.research-item p {
  color: #666666;
}

.tags {
  padding: 5px 0;
}

.tag {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 2px 8px;
  margin-right: 5px;
  font-size: 0.9em;
}

img {
  height: 50px; /* Adjust as needed */
  float: right; /* Aligns the logo to the right */
}