.App {
  font-family: 'Arial', sans-serif;
  color: white;
}

.App-header {
  background-color: #0044cc;
  padding: 1em;
  color: white;
}

.App-header h1,
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1em;
}

section {
  margin-bottom: 2em;
}

.welcome, .latest-news, .ongoing-research, .contribution {
  background-color: #002266;
  padding: 1em;
}

button {
  background-color: #009900;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #007700;
}

footer {
  background-color: #003366;
  color: white;
  padding: 1em;
  text-align: center;
}

.contribution-stats div {
  background-color: #006600;
  margin-top: 1em;
  padding: 0.5em;
}